/* General styles for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1a1b1ee0;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* Style for the input field and search icon container */
.inputContainer {
  display: flex;
  align-items: center;
  flex: 1;
}

.inputField {
  background-color: #2c2d30;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  color: white;
  width: 60%; /* Adjust the width to 60% */
  max-width: 400px;
}

/* Style for the mobile icons (menu and user profile) */
.mobileIcons {
  display: flex;
  align-items: center;
  gap: 15px; /* Spacing between menu and user profile */
}

/* Menu icon for mobile view */
.menuIcon {
  cursor: pointer;
  margin-right: auto; /* Move the menu icon slightly to the left */
}

/* Mobile Menu */
.mobileMenu {
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: #1a1b1e;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

/* Style for user profile button */


/* Media query for mobile responsiveness */
@media (max-width: 640px) {
  .inputContainer {
    width: 60%; /* Input field takes 60% width */
  }

  .buttonContainer {
    display: none; /* Hide the buttons on small screens */
  }
}
